@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div live-component="chatty">
        @Html.Raw(Model.Component.Render())
    </div>
</div>
