@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <vc:live-component id="chatty"></vc:live-component>
</div>

@await Component.InvokeAsync("LiveComponent", new { id = "chatty" })

